@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply w-full h-full;
}

@font-face {
  font-family: "Sriracha";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Sriracha-Regular.subset.ttf") format("truetype");
}

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }
}

:root {
  overflow-y: overlay;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(0, 0, 0, 0.2);
}
